.product-box{
    float: left;
    width: 350px;
    margin: 10px;
}

.product-img{
    width: 350px;
    height: 200px;
}

.enroll-button{
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    outline: none;
}

.enroll-button:focus{
    outline: none;
}

.enroll-button:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}

.taka-icon{
    font-size: 20px;
    font-weight: 800; 
}

.price{
    font-weight: 800;
}